.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
2022-03-14_Meetup-Darmstadt-Presentation_cache
2022-03-14_Statistik-leicht-gemacht_cache/
2022-03-14_Statistik-leicht-gemacht_files
2022-03-14_Statistik-leicht-gemacht.html
2022-03-14_Flexibler-Bericht.html
2022-03-14_Meetup-Darmstadt-Presentation.pdf
2022-03-14_Meetup-Darmstadt-Presentation.html
2022-03-23_Meetup-R-Ladies-Presentation.html
2022-03-23_Meetup-R-Ladies-Presentation.pdf
2022-03-23_R-Package-bare.html
2022-03-23_R-Ladies-Tunis_Create-R-Package.pdf
2022-07-23_Meetup-R-Ladies-Abuja-purrr.html
Diamonds_Cut_Fair.csv
Diamonds_Cut_Good.csv
Diamonds_Cut_Ideal.csv
Diamonds_Cut_Premium.csv
Diamonds_Cut_Very_Good.csv
