.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
2022-03-14_Meetup-Darmstadt-Presentation_cache
2022-03-14_Statistik-leicht-gemacht_cache/
2022-03-14_Statistik-leicht-gemacht_files
2022-03-14_Statistik-leicht-gemacht.html
