.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
*_files/
*.html
*_cache/
*.pdf
*Quarto/

Diamonds_Cut_Fair.csv
Diamonds_Cut_Good.csv
Diamonds_Cut_Ideal.csv
Diamonds_Cut_Premium.csv
Diamonds_Cut_Very_Good.csv
